<h1>Listing employees</h1>

<table>
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Ci</th>
      <th>Cargo</th>
      <th>Telefono local</th>
      <th>Ext</th>
      <th>Celular</th>
      <th>Correo</th>
      <th>Sucursal</th>
      <th>Departamento</th>
      <th>User</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.nombres %></td>
        <td><%= employee.apellidos %></td>
        <td><%= employee.ci %></td>
        <td><%= employee.cargo %></td>
        <td><%= employee.telefono_local %></td>
        <td><%= employee.ext %></td>
        <td><%= employee.celular %></td>
        <td><%= employee.correo %></td>
        <td><%= employee.sucursal %></td>
        <td><%= employee.departamento %></td>
        <td><%= employee.user_id %></td>
        <td><%= employee.user %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
